@{
    Layout = "~/Views/Shared/_BackEnd.cshtml";
}

<!--Right Content-->


<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Welcome !</h4>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="#">SwiftPm</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-simple-chart text-right card-box">
                        <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
                        <h3 class="text-success counter m-t-10">@ViewBag.ProjCount</h3>
                        <p class="text-muted text-nowrap m-b-10" style=""><strong>Total Projects </strong>  </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-simple-chart text-right card-box">
                        <div class="circliful-chart" data-dimension="90" data-text="75%" data-width="5" data-fontsize="14" data-percent="75" data-fgcolor="#3bafda" data-bgcolor="#ebeff2"></div>
                        <h3 class="text-primary counter m-t-10"> @ViewBag.ProjModulecount</h3>
                        <p class="text-muted text-nowrap m-b-10"><strong>Total Project Modules</strong> </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-simple-chart text-right card-box">
                        <div class="circliful-chart" data-dimension="90" data-text="58%" data-width="5" data-fontsize="14" data-percent="58" data-fgcolor="#f76397" data-bgcolor="#ebeff2"></div>
                        <h3 class="text-pink m-t-10"><span class="counter">@ViewBag.ModuleTaskCount</span></h3>
                        <p class="text-muted text-nowrap m-b-10"> <strong> Total Modules Tasks </strong></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-simple-chart text-right card-box">
                        <div class="circliful-chart" data-dimension="90" data-text="49%" data-width="5" data-fontsize="14" data-percent="49" data-fgcolor="#98a6ad" data-bgcolor="#ebeff2"></div>
                        <h3 class="text-pink m-t-10">@ViewBag.ModuleTaskIssuesCount</h3>
                        <p class="text-muted text-nowrap m-b-10"><strong>Total Module Tasks Issues</strong>  </p>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <!-- Another Row of details-->
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-simple-chart text-right card-box">
                        <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
                        <h3 class="text-success counter m-t-10">@ViewBag.TaskActivityCount</h3>
                        <p class="text-muted text-nowrap m-b-10" style=""><strong>Total Task Created </strong>  </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-simple-chart text-right card-box">
                        <div class="circliful-chart" data-dimension="90" data-text="75%" data-width="5" data-fontsize="14" data-percent="75" data-fgcolor="#3bafda" data-bgcolor="#ebeff2"></div>
                        <h3 class="text-primary counter m-t-10"> @ViewBag.AssignedTaskCount</h3>
                        <p class="text-muted text-nowrap m-b-10"><strong> Total Task Assigned</strong> </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-simple-chart text-right card-box">
                        <div class="circliful-chart" data-dimension="90" data-text="58%" data-width="5" data-fontsize="14" data-percent="58" data-fgcolor="#f76397" data-bgcolor="#ebeff2"></div>
                        <h3 class="text-pink m-t-10"><span class="counter">@ViewBag.CompletedTask @*@ViewBag.TaskIssuesCount*@</span></h3>
                        <p class="text-muted text-nowrap m-b-10"> <strong> Total Completed Task </strong></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-simple-chart text-right card-box">
                        <div class="circliful-chart" data-dimension="90" data-text="49%" data-width="5" data-fontsize="14" data-percent="49" data-fgcolor="#98a6ad" data-bgcolor="#ebeff2"></div>
                        <h3 class="text-inverse counter m-t-10">@ViewBag.StaffCount</h3>
                        <p class="text-muted text-nowrap m-b-10"><strong>Total Staffs of Department </strong>  </p>
                    </div>
                </div>
            </div>

            <!--End Rows of Details-->

            <div class="row">
                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark  header-title m-t-0 m-b-30">Total Revenue</h4>
                        <div class="widget-chart text-center">
                            <div id="sparkline1"></div>
                            <ul class="list-inline m-t-15 mb-0">
                                <li>
                                    <h5 class="text-muted m-t-20">Target</h5>
                                    <h4 class="m-b-0">$56,214</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last week</h5>
                                    <h4 class="m-b-0">$98,251</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last Month</h5>
                                    <h4 class="m-b-0">$10,025</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark  header-title m-t-0 m-b-30">Yearly Sales Report</h4>
                        <div class="widget-chart text-center">
                            <div id="sparkline2"></div>
                            <ul class="list-inline m-t-15 mb-0">
                                <li>
                                    <h5 class="text-muted m-t-20">Target</h5>
                                    <h4 class="m-b-0">$1000</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last week</h5>
                                    <h4 class="m-b-0">$523</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last Month</h5>
                                    <h4 class="m-b-0">$965</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0 m-b-30">Weekly Sales Report</h4>
                        <div class="widget-chart text-center">
                            <div id="sparkline3"></div>
                            <ul class="list-inline m-t-15 mb-0">
                                <li>
                                    <h5 class="text-muted m-t-20">Target</h5>
                                    <h4 class="m-b-0">$1,84,125</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last week</h5>
                                    <h4 class="m-b-0">$50,230</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last Month</h5>
                                    <h4 class="m-b-0">$87,451</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <!--end row/ WEATHER -->

            <div class="row">
                <div class="col-lg-8">
                    <div class="card-box">
                        <h4 class="text-dark  header-title m-t-0">Latest Projects</h4>
                        <p class="text-muted m-b-25 font-13">
                            Last 5 Created Projects
                        </p>
                        <table id="Pdatatable" class="table table-striped table-bordered" cellspacing="0">
                            <thead>

                                <tr>
                                    <th>
                                        Project Code
                                    </th>

                                    <th>
                                        Project Name
                                    </th>
                                    <th>
                                        Priority
                                    </th>

                                    <th>
                                        Date Created
                                    </th>


                                </tr>

                            </thead>


                        </table>
                    </div>
                </div>
                <!-- end col -8 -->
                <div class="col-lg-4">
                    <div class="card-box widget-user">
                        <div>
                            <img src="~/ThemeBack/green/assets/images/users/avatar-1.jpg" class="img-responsive rounded-circle" alt="user">
                            <div class="wid-u-info">
                                <h5 class="mt-0 m-b-5 font-16">Chadengle</h5>
                                <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                <small class="text-warning"><b>Admin</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="card-box widget-user">
                        <div>
                            <img src="~/ThemeBack/greeen/assets/images/users/avatar-2.jpg" class="img-responsive rounded-circle" alt="user">
                            <div class="wid-u-info">
                                <h5 class="mt-0 m-b-5 font-16">Tomaslau</h5>
                                <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                <small class="text-success"><b>User</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="card-box widget-user">
                        <div>
                            <img src="~/ThemeBack/green/assets/images/users/avatar-7.jpg" class="img-responsive rounded-circle" alt="user">
                            <div class="wid-u-info">
                                <h5 class="mt-0 m-b-5 font-16">Ok</h5>
                                <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                <small class="text-pink"><b>Admin</b></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div>
        <!-- end container -->
    </div>
    <!-- end content -->
    <script src="~/ThemeBack/plugins/datatables/dataTables.buttons.min.js"></script>

    <link href="~/ThemeBack/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Required datatable js -->



    <script type="text/javascript">
    $(document).ready(function () {
        $('#Pdatatable').DataTable({
            "processing": true, // for show progress bar while loading

            "ajax": {
                "url": "/Home/GetLatestProjModules",
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                { "data": "ProjectCode", "autoWidth": true },
                { "data": "ProjectName", "autoWidth": true },
                { "data": "PriorityLevel", "autowidth": true },
                { "data": "DateCreated", "autoWidth": true },


                //{
                //    "data": "ProjectCode",
                //    "autoWidth": true,
                //    "render": function (data) {
                //        return '<a href="#" data-toggle="modal" data-target="#actionsList" onclick="Edit(\''+ data + '\')" >  <i class="fa fa-pencil" aria-hidden="true" >&nbsp;Edit</i></a>&nbsp;&nbsp;' +
                //            '<a href="#" class="text-danger" data-toggle="modal" data-target="#actionsList"  onclick="Delete(\'' + data + '\')" ><i class="fa fa-remove" aria-hidden="true" >&nbsp;Remove<i /></a>';
                //    }
                //}

                //{ "data": "EmailID", "autoWidth": true },
                //{ "data": "Phone", "autoWidth": true },
            ]
        });

    });

    </script>



