@model SwiftPM.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Create a Staff</h4>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Manage Account</a></li>
                            <li class="breadcrumb-item active">Change Password</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row card-box">
                <div style="margin:0 auto" class="col-lg-8">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">Password Management</h4>
                        <p class="text-muted font-14 m-b-20">
                            Change your Password to something you can remembe
                        </p>
                        <form action="@Url.Action("ChangePassword", "Manage")" method="post">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()


                            <div class="form-group">
                                <label for="userName">Old Pasword<span class="text-danger">*</span></label>

                                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Enter Former Password", id = "TitleList" })

                                @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "text-danger" })                             

                            </div>

                            <div class="form-group">
                                <label for="userName">New Password<span class="text-danger">*</span></label>

                                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter New Password", id = "userName" })

                                @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
                                @*<input type="text" name="nick" parsley-trigger="change" required
                                    placeholder="Enter user name" class="form-control" id="userName">*@
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Confirm Password<span class="text-danger">*</span></label>

                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password", id = "Email" })

                                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-primary waves-effect waves-light" type="submit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                    Cancel
                                </button>
                            </div>
                        </form>

                        <!--End of Staff Creation Form-->
                    </div> <!-- end card-box -->
                </div>
               
            </div>
            <!-- end row -->

        </div>
        <!-- end container -->
    </div>
    <!-- end content -->
