@model IEnumerable<SwiftPMModel.ProjectModule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorityLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModulePercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModulePercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectModuleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectModuleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectModuleId })
        </td>
    </tr>
}

</table>
