@model SwiftPMModel.ModuleTaskIssue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModuleTaskIssue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleTask.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleTask.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModuleTaskIssueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
