@model SwiftPMModel.Project
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Create a Staff</h4>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Staffs</a></li>
                            <li class="breadcrumb-item active">Create Staff</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">Project Creation Form</h4>
                        <p class="text-muted font-14 m-b-20">
                            Create a Department of your oganization create corresponding units when done
                        </p>
                        <form action="@Url.Action("Create","Projects")" method="post">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()


                            <div class="form-group">
                                <label for="userName">Project Name<span class="text-danger">*</span></label>

                                @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", placeholder = "Enter Project Name", id = "DeptCode" })

                                @Html.ValidationMessageFor(m => m.ProjectName, null, new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <label for="userName">Project Code<span class="text-danger">*</span></label>

                                @Html.TextBoxFor(m => m.ProjectCode, new { @class = "form-control", placeholder = "Enter Code", id = "DeptName" })

                                @Html.ValidationMessageFor(m => m.ProjectCode, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="userName">Priority Level (1-5)<span class="text-danger">*</span></label>

                                @Html.TextBoxFor(m => m.PriorityLevel, new { @class = "form-control",Type="number",
                                 placeholder = "Enter Priority Level", id = "DeptName" })

                                @Html.ValidationMessageFor(m => m.PriorityLevel, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="userName">Project Desciription<span class="text-danger">*</span></label>

                                @Html.TextAreaFor(m => m.ProjectDescription, new { @class = "form-control", placeholder = "Enter Project Description", id = "DepartmentHead" })

                                @Html.ValidationMessageFor(m => m.ProjectDescription, null, new { @class = "text-danger" })

                            </div>

                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-primary waves-effect waves-light" type="submit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                    Cancel
                                </button>
                            </div>
                        </form>

                        <!--End of Staff Creation Form-->
                    </div> <!-- end card-box -->
                </div>
                <!-- end col -->
                @*<div class="col-lg-6">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">Horizontal Form</h4>
                            <p class="text-muted font-14 m-b-20">
                                Parsley is a javascript form validation library. It helps you provide your users with feedback on their form submission before sending it to your server.
                            </p>
                            <form role="form">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">Email<span class="text-danger">*</span></label>
                                    <div class="col-7">
                                        <input type="email" required parsley-type="email" class="form-control"
                                               id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="hori-pass1" class="col-4 col-form-label">Password<span class="text-danger">*</span></label>
                                    <div class="col-7">
                                        <input id="hori-pass1" type="password" placeholder="Password" required
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="hori-pass2" class="col-4 col-form-label">
                                        Confirm Password
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-7">
                                        <input data-parsley-equalto="#hori-pass1" type="password" required
                                               placeholder="Password" class="form-control" id="hori-pass2">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="webSite" class="col-4 col-form-label">Web Site<span class="text-danger">*</span></label>
                                    <div class="col-7">
                                        <input type="url" required parsley-type="url" class="form-control"
                                               id="webSite" placeholder="URL">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-8 offset-4">
                                        <div class="checkbox checkbox-purple">
                                            <input id="checkbox6" type="checkbox">
                                            <label for="checkbox6">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-8 offset-4">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                                            Register
                                        </button>
                                        <button type="reset"
                                                class="btn btn-secondary waves-effect m-l-5">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="visible-lg" style="height: 79px;"></div>
                        </div>
                    </div>*@ <!-- end col -->
            </div>
            <!-- end row -->

        </div>
        <!-- end container -->
    </div>
    <!-- end content -->
