<!--Left Side Bar -->
@using Microsoft.AspNet.Identity;
@using SwiftPM.Extensions;
@using SwiftPM.Models.ViewModels;


@{ 
    ParentVm parentVm = new ParentVm();

    var userId = User.Identity.GetUserId();
    string tasIssuesCount = parentVm.GetTaskIssuesCount();
}
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title" style="font-weight:bolder">MAIN</li>

                <!--Bio data /Profile Mgt-->
                <li>
                    <a href="@Url.Action("DashBoard", "Home")" class="waves-effect waves-primary">
                        <i class="ti-home"></i><span> Dashboard </span>
                    </a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span>Bio-data Mgt </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Edit", "Staffs", new { id = userId })">Edit Biodata</a></li>
                        <li><a href="@Url.Action("AddPhoneNumber", "Manage")">Add Phone Number</a></li>
                        <li><a href="@Url.Action("ChangePassword", "Manage")">Change Password</a></li>


                    </ul>
                </li>

                <!--Departments -->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-light-bulb"></i><span>Departmentals</span> <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">


                        @*@
                if (User.IsInRole("AppAdmin") || User.IsInRole("CEO") || User.IsInRole("Director") || User.IsInRole("ITAdmin") || User.IsInRole("HR"))
                {*@
                        <li><a href="@Url.Action("Index", "Staffs")"> All Staffs</a></li>



                        <li><a href="@Url.Action("Create", "Departments")">Add a Department</a></li>


                        <li><a href="@Url.Action("Create", "Units")">Add a Unit</a></li>

                        <li><a href="@Url.Action("Index", "Units")">View Units</a></li>


                        @*<li><a href="@Url.Action("NonAssigned", "Staffs")">View all NonAssinged Staffs</a></li>*@


                        @*}

                }*@

                    </ul>
                </li>



                <!--Project Management-->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-light-bulb"></i><span>Projects </span> <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">

                        @* @{
                if (User.IsInRole("Director") || User.IsInRole("HOD") || User.IsInRole("Surpervisor"))
                {*@

                        <li><a href="@Url.Action("Create", "Projects")">Add a Project</a></li>

                        <li><a href="@Url.Action("Index", "Projects")">View all Projects</a></li>

                        <li><a href="@Url.Action("Create", "ProjectModules")">Add Project Module</a></li>
                        @*}

                if (User.IsInRole("Director") || User.IsInRole("CEO"))
                {*@
                        <li><a href="@Url.Action("Index", "ProjectModules")">View Project Modules </a></li>



                        @*}
                }*@



                    </ul>
                </li>

                <!--Project Module -->

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-spray"></i>
                        <span> Project Module </span> <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">


                        @*@{
                if (User.IsInRole("HOD") || User.IsInRole("Supervisor") || User.IsInRole("Director") || User.IsInRole("CEO"))
                {*@
                        <li><a href="@Url.Action("Create", "ProjectModules")">Add Project Module</a></li>


                        @*}

                if (User.IsInRole("Director") || User.IsInRole("CEO"))
                {*@
                        <li><a href="@Url.Action("Index", "ProjectModules")">View Project Modules </a></li>



                        @*<li><a href="@Url.Action("DeptProjects", "ProjectModules", new {deptId = User.Identity.GetUserDept()})">View All Project Modules</a></li>*@


                    </ul>
                </li>

                <!--Task Modules Management-->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-pencil-alt"></i><span> Task Groups</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">

                        @*@{
                if (User.IsInRole("HOD") || User.IsInRole("Supervisor"))
                {*@
                        <li><a href="@Url.Action("Create", "ModuleTasks")">Add Task Group</a></li>

                        @*}
                }*@
                        <li><a href="@Url.Action("Index", "ModuleTasks")">View Task Groups</a></li>
                    </ul>

                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span>Single Tasks  </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">

                        @*@{
                if (User.IsInRole("HOD") || User.IsInRole("Supervisor"))
                {*@
                        <li><a href="@Url.Action("Create", "TaskActivities")">Assign a Staff to Department </a></li>
                        <li><a href="@Url.Action("Index", "TaskActivities" )"> View Single Tasks</a></li>

                        @*}
                }*@

                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span>Assign Tasks To Staff  </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">

                        @*@{
                if (User.IsInRole("HOD") || User.IsInRole("Supervisor"))
                {*@
                        <li><a href="@Url.Action("Create", "AssignTasks")">Assign Task To Staff</a></li>
                        <li><a href="@Url.Action("Index", "AssignedTasks" )"> View Single Tasks</a></li>

                        @*}
                }*@

                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-stats-up"></i><span> Task Issues </span> <span class="badge badge-primary pull-right"> @tasIssuesCount</span>
                    </a>
                    <ul class="list-unstyled">

                        @*@{
                if (User.IsInRole("HOD") || User.IsInRole("Supervisor"))
                {*@
                        <li><a href="@Url.Action("Create", "ModuleTaskIssues")">Add a Task </a></li>

                        @*}
                }*@
                        <li><a href="@Url.Action("Index", "ModuleTaskIssues")">View Tasks Issues</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span>Staff Mgt </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Create", "Staffs")">Create Staff</a></li>
                        

                    </ul>
                </li>



            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
