@model SwiftPMModel.TaskActivity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskActivity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleTask.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleTask.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskActivityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
